body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* /////////////////
/// Typography/////
//////////////// */

header{
    text-align: center;
    background-color: #F8F8F8;
    padding: 1.5em 0;
    margin-bottom: 4em;
}


.heading{
    margin-bottom: 2em;
}

.heading h1{
    margin-top: 0;
}

footer{
    background-color: #143774;
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 3em;
    margin-top: 3em;
}
footer h3{
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

h1, h3{
    font-family: 'Lora', serif;
    color: #143774;
}

h1, h2, h3{
    margin: 0;
}



h1{
    font-size: 2.15em;
    margin: 0;
    font-weight: 400;
    color: #143774;
}

img {
    width: 100%;
    display: block;
}



.subhead {
    font-weight: 700;
    font-size: 0.81rem;
    margin:  0 auto;
    letter-spacing: 2px;
    color: #1792D2;
}

.container{
    width: 90%;
    display: flex;
    flex-direction: column;
    max-width: 980px;
    margin: 0  auto;
    justify-content: center;
}

.container-recent{
    padding-top: 0;
}

.container h2{
    color: #143774;
    font-family: 'Lora', serif;
}

.article-recent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    margin-bottom: 2em;
}
main img{
    margin: 0;
}

main .cont-space a{
    text-decoration: none;
}
main a:hover{
    color: #143774;
    text-decoration: underline;
}

/* ////////////////////
////// Layout /////////
//////////////////// */

.article-featured{
    display: flex;
    flex-direction: column;
}
.article-featured img{
    order: -1;
}

.article-featured .cont-space{
    padding-bottom: 2em;
    border-bottom: 1px solid #707070;
}

.info{
    font-weight: 300;
    font-size: 0.8rem;
    margin-top: 2em;
    margin-bottom: 1em;
}

.article-featured .info {
    order: -1;
}

.article-recent img{
    margin-bottom: 2em;
}

.article-recent .article-extras {
    order: -1;
}

.about{
    border: 15px solid #efefef;
    padding: 15px;
    padding-bottom: 0;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.about h3{
    font-size: 1rem;
    margin-bottom: 1em;
    order: -2;
}
.about img{
    order: -1;
    margin-bottom: 0;
}

.recent-art{
    border: 15px solid #efefef;
    padding: 15px;

}

.recent-art h3{
    color: #1792D2;
    font-weight: 300;
}

.cnt-about h3{
    color: #1792D2;
}

.cnt-about h2{
    font-weight: 400;
}

.wid-recent{
    display: flex;
    flex-direction: column;
}

.wid-recent img{
    order: -1;
    margin-bottom: 0;
    margin-top: 0;
    margin-top: 1em;
    padding-bottom: 0;

}

.wid-recent {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #707070;
    padding-bottom: 1em;
}

.wid-recent:last-child{
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.sidebar .cont-space {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.2em;
    color: #1792D2;
}

.sidebar .cont-space{
    color: #143774;
}



/* /////////////////////////
/////// Navigation /////////
/////////////////////////// */

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.nav-li {
    margin-bottom: 1em;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav-li a{
    text-decoration: none;
    color: #717171;
}

a{
    color: #1792D2;
}

.nav-li a:hover{
    color: #1792D2;
}

.current {
    border-bottom: 1px solid #707070;
}

/* ///////////////////////////
//////// Media Query /////////
////////////////////////////// */

@media (min-width: 650px){
    .container{
        /* margin-top: 3em; */
        flex-direction: row;
        justify-content: space-between;
    }

    .container main{
        width: 75%;
        margin-bottom: 0;
        padding: 0;
    }
    .article-recent {
        margin-bottom: 2em;
    }
    .article-recent-rec .article-content h2{
        padding-top: 0;
        margin-top: 0;
    }

    .container aside{
        min-width: 180px;
        margin-left: 1em;
        width: 20%;
    }

    .nav{
        flex-direction: row;
    }

    .nav-li {
        margin-left: 2em;
    }

    .article-recent{
        flex-direction: row;
    }

    .article-recent .article-content{
        width: 70%;
    }

    .article-recent .article-extras{
        width: 30%;
        margin-right: 2em;
    }

}

.image-full{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 1.5em;
}
